@use '../assets/assets' as *;

@mixin grillaContenido() {
    --padding: 80px clamp(120px, 14vw, 240px);
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    padding: var(--padding);
    gap: 80px;
    height: 100%;
}

@mixin title() {
    font-family: $bellefair;
    text-transform: uppercase;
    font-size: 150px;
    font-weight: $regular;
}