-const itemsNav = [{number: "00", text: "home", trans: "0vw"}, {number: "01", text: "destination", trans: "-150vw"}, {number: "02", text: "crew", trans: "-300vw"}, {number: "03", text: "technology", trans: "-450vw"}]
