@use '../assets/assets' as *;

body {
    margin: 0;
    padding: 0;
    font-family: $barlow;
    font-weight: $regular;
    min-height: 100vh;
    color: $white;
    transition: background-image 1s ease;
    background-image: var(--bg);
    background-size: cover;
    background-position: center;
    
}

.main {
    max-width: 100vw;
    overflow: hidden;
    &__content {
        width: 500vw;
        transform: translateX(var(--translate));
        display: grid;
        grid-template-columns: repeat(4, 100vw);
        gap: 50vw;
        transition: transform 2.5s ease;
    }
}